.highPanel {
    background: #26A69A;
}

.buttonsContainer {
    width: fit-content;
    float: right;
    margin-right: 30px;
    display: flex;
    align-items: center;
    height: 100%;
}

*[buttonMargin] {
    margin: 7px;
}

*[buttonRight] {
    float: right
}

*[starLeft] {
    float: left;
}

.iconka {
    margin-left: 50px;
}

.iconka md-icon {
    width: 50px;
    height: 50px;
}

.star {
    color: #e0e0dc;
    font-size: 50px;
    cursor: pointer;
}

.mat-button,
.mat-icon-button,
.mat-raised-button {
    background-color: #e0e0dc;
}

.dropMenu {
    height: 100%;
    float: right;
    display: flex;
    align-items: center
}

.dropMenu md-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: white;
}

span {
    color: white;
    font-size: 25px;
}

.buttonContent {
    width: fit-content;
}

.buttonContent span {
    padding: 10px;
    cursor: pointer;
}

.buttonContent span:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}